.footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 75px;
    width: 100%;
    background-color: #191414;
    padding: 20px;
    color: gray;
}

.footer__left{
    flex: 0.3;
    display: flex;
    align-items: center;
    width: 300px;
    color: white;
}

.footer__center{
    flex: 0.4;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    max-width: 300px;
    padding-right: 20px;
    /* color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    padding: 0 100px;
    border: solid red 10px; */
}



.footer__albumLogo{
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin-right: 20px;
}

.footer__right{
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 8px;
}

.footer__green{
    color: #4dc274;
}

.footer__green:hover,
.footer__icon:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footer__right * .MuiSlider-root {
    color: #4dc274;
}

.slider.hovered {
    color: #4dc274 !important;
  }
  